//app-header

//variables
$app-header-transition-duration: 0.3s;
$app-header-bg: #fff;
$app-topbar-height-sm: 4rem;
$app-topbar-height-lg: 5.5rem;
$app-topbar-nav-color: $base-dark;
$app-topbar-nav-color-hover: $primary;

$app-sidebar-width: 22.5rem;
$app-guide-bg-color: #fff;
$app-guide-header-bg: #fff;
$app-guide-transition-duration: 0.3s;

//header
.app-header {
  background-color: $app-header-bg;
  box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.03);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: $app-topbar-height-sm;
  @include media-breakpoint-up(lg) {
    height: $app-topbar-height-lg;
  }
}
//topbar
.app-topbar {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}
//logo
.app-logo {
  width: 9rem;
  svg,
  img {
    width: 100%;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    width: 11rem;
  }
}
//nav
.app-nav-group {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
}
.app-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}
.app-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  &__item {
    margin: 0 0.25rem 0 0;
    padding: 0;
    &:last-of-type {
      margin: 0;
    }
  }
  &__link {
    border: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
    display: block;
    position: relative;
    color: $app-topbar-nav-color;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 1rem;
      right: 1rem;
      bottom: 0;
      height: 0;
      transition: height 0.15s ease-in-out;
      background: $primary;
    }
    &:hover {
      color: $app-topbar-nav-color-hover;

      &::after {
        height: 0.25rem;
      }
    }
  }
}
//search
.app-nav-search {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
    display: block;
    margin-left: 0.5rem;
    > svg {
      fill: currentColor;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
//user
.app-nav-user {
  background: transparent;
  margin-left: 1rem;
  &__btn {
    border: none;
    background-color: transparent;
    color: $base-darker;
    display: flex;
    align-items: center;
    margin: 0 -0.5rem 0 0;
    padding: 0.5rem;
    max-width: 11rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $primary;
      .avatar {
        //outline: $primary 3px solid;
        //outline-offset: -3px;
        //transition: outline 0.07s ease-in-out;
      }
    }
  }
  &__name {
    font-size: 0.875rem;
    color: currentColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__icon {
    margin-right: 0.5rem;
  }
}

//toggle

.app-menu-btn {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    > svg {
      fill: $base-darkest;
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover,
    &:focus {
      > svg {
        fill: $primary-dark;
      }
    }
  }
}
