//app-header

//variables
$app-header-transition-duration: 0.3s;
$app-header-bg: #fff;
$app-header-height-sm: 4rem;
$app-header-height-lg: 5.5rem;
$app-topbar-height: 3.25rem;
$app-topbar-nav-color: $base-dark;
$app-topbar-nav-color-hover: $primary;

$app-sidebar-width: 20rem;
$app-guide-bg-color: #fff;
$app-guide-header-bg: #fff;
$app-guide-transition-duration: 0.3s;

//header
.app-header {
  background-color: $app-header-bg;
  box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.03);
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  height: $app-header-height-sm;
  @include media-breakpoint-up(lg) {
    height: $app-header-height-lg;
  }
  &--is-sticky {
    position: sticky;
    z-index: 4;
  }
}
.app-header-wrap {
  position: relative;
  width: 100%;
}
//topbar
.app-topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $app-topbar-height;
}
//logo
.app-logo {
  width: 9rem;
  svg,
  img {
    width: 100%;
    height: auto;
  }
  @include media-breakpoint-up(lg) {
    width: 11rem;
  }
}

//nav
.app-nav-group {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
}
.app-nav {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}
.app-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  &__item {
    margin: 0 0.25rem 0 0;
    padding: 0;
    position: relative;
    &:last-of-type {
      margin: 0;
    }
  }
  &__link {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
    display: block;
    position: relative;
    color: $app-topbar-nav-color;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 1rem;
      right: 1rem;
      bottom: 0;
      height: 0;
      transition: height 0.15s ease-in-out;
      background: $primary;
    }
    &:hover {
      color: $app-topbar-nav-color-hover;

      &::after {
        height: 0.25rem;
      }
    }

    &--sublevel-1 {
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.9375rem;
      &::before {
        content: "\2014";
        padding-right: 0.5rem;
        font-weight: 300;
      }
    }

    &.show {
      background-color: $primary-darker;
      color: #fff;
      transition: all 0.15s ease-in-out;
      &::after {
        height: 0.25rem;
      }
      &:hover {
        color: #fff;

        &::after {
          //display: none;
          background-color: $primary;
        }
      }
    }
  }
}

//submenu
.app-nav-submenu {
  background-color: $primary-darker;
  padding: 1rem;
  min-width: 16rem;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin-top: 0 !important; //bs override
}
.app-submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    font-size: 0.875rem;
    font-weight: 400;
  }
  &__link {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: 0;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      background-color: transparent;
    }
    &--sublevel-1 {
      //padding-left: 3rem;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 0.9375rem;
      &::before {
        content: "\2014";
        padding-right: 0.5rem;
        font-weight: 300;
      }
    }
  }
}

//search
.app-nav-search {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
    display: block;
    margin-left: 0.5rem;
    > svg {
      fill: currentColor;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
//user
.app-nav-user {
  background: transparent;
  margin-left: 1rem;
  &__btn {
    border: none;
    background-color: transparent;
    color: $base-darker;
    display: flex;
    align-items: center;
    margin: 0 -0.5rem 0 0;
    padding: 0.5rem;
    max-width: 11rem;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: transparent;
      color: $primary;
    }
    &--login {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $primary;
      color: $primary;
      padding: 0.75rem 1.25rem;
      font-weight: 600;
      &:hover {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px $primary-dark;
        color: $primary-dark;
      }
      &:active {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px $primary-darker;
        color: $primary-darker;
      }
    }
  }
  &__login {
    font-size: 0.875rem;
    color: currentColor;
    text-transform: uppercase;
  }
  &__name {
    font-size: 0.875rem;
    color: currentColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__icon {
    margin-right: 0.375rem;
  }
}

//toggle

.app-menu-btn {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
    background-color: transparent;
    padding: 0.5rem;
    border: none;
    position: absolute;
    top: calc(50% - 1.25rem);
    right: 0.75rem;
    > svg {
      fill: $base-darkest;
      width: 1.5rem;
      height: 1.5rem;
    }
    &:hover,
    &:focus {
      > svg {
        fill: $primary-dark;
      }
    }
  }
}
