//footer
$footer-color: #fff;
$footer-link-color: #fff;
$footer-link-color-hover: #fff;
footer {
  background-color: transparent;
  color: $footer-color;
}

.app-footer-social {
  display: flex;
  justify-content: flex-end;
}
.app-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  &__item {
    background-color: transparent;
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: $footer-link-color;
    &:hover,
    &:focus {
      color: $primary-light;
    }
    > svg {
      width: 2rem;
      height: 2rem;
      fill: currentColor;
    }
  }
}

.app-footer__logo-img {
  max-height: 80px;
}
.app-footer__return-to-top {
  background-color: plum;
}
.app-footer__primary-section {
  background-color: $primary-dark;
}
.app-footer__secondary-section {
  background-color: $primary-darker;
  padding: 2rem 0;
}

.app-footer__address {
  margin: 0;
}

.app-footer__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row-wrap;
  list-style: none;
  &__item {
    font-weight: 500;
    margin-right: 2rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    color: $footer-link-color;
    text-decoration: none;
    padding: 1rem 0;
    display: block;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 0.25rem;
      color: $footer-link-color-hover;
    }
  }
}

.app-footer-contact {
  text-align: right;
  display: flex;
  flex-direction: column;
  &__heading {
    font-size: 1.375rem;
    font-weight: 600;
    padding: 1rem 0 0.5rem 0;
    margin: 0;
  }
  &__address {
    color: red;
  }
  &__contact-info {
    > a {
      color: $footer-link-color;
      &:hover,
      &:focus {
        text-decoration: underline;
        text-underline-offset: 0.25rem;
        color: $footer-link-color-hover;
      }
    }
  }
}
