//app-header
.app-header {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.05);
  position: sticky;
  top: 0;
}
.app-header-group {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.app-nav-group {
  background-color: pink;
  display: flex;
}
.app-nav {
  display: flex;
  background-color: aqua;
}
.app-user {
  background: forestgreen;
}

//toggles
.app-toggle-menu {
  background-color: $base-light;
  padding: 0.5rem;
  border: none;
  position: absolute;
  top: 0;
  right: 1rem;
  > svg {
    fill: $base-darkest;
    width: 1.5rem;
    height: 1.5rem;
  }
  &:hover,
  &:focus {
    > svg {
      fill: $primary-dark;
    }
  }
}
