//
// General Styles
// =====================================
.app-identifier {
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  background-color: $base-darkest;
  padding-bottom: 1rem;
}

.app-identifier__container {
  @extend .container;
}

.app-identifier__section {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.app-identifier__section--masthead {
  .app-identifier__container {
    @include media-breakpoint-up(sm) {
      align-items: center;
      display: flex;
    }
  }
}
/**/
.app-identifier__logos {
  display: flex;
  margin-right: 1rem;
}

.app-identifier__logo {
  text-decoration: none;
  height: 3rem;
  display: block;

  & + .app-identifier__logo {
    margin-left: 0.5rem;
  }
}

.app-identifier__logo-img {
  height: 100%;
  width: auto;
}

.app-identifier__identity {
  flex: 1 1 0%;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.app-identifier__identity-domain,
.app-identifier__identity-disclaimer {
  margin: 0;
  padding: 0;
}

.app-identifier__identity-domain {
  color: $disabled-dark;
}

.app-identifier__identity-disclaimer {
  font-weight: 700;

  a {
    color: $disabled-light;
    &:hover {
      color: $base-lightest;
    }
  }
}

.app-identifier__section--required-links {
  @include media-breakpoint-up(sm) {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.94rem;
  }
}

.app-identifier__required-links-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;

  @include media-breakpoint-up(sm) {
    column-count: 2;
    column-gap: 2rem;
    column-fill: balance;
  }

  @include media-breakpoint-up(md) {
    column-count: 4;
  }
}

.app-identifier__required-links-item {
  break-inside: avoid;
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0rem;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0.5rem;
  }
}

.app-identifier__required-link,
.app-identifier__required-link.app-link {
  color: $disabled-dark;
  display: inline-block;
  &:hover {
    color: $disabled-light;
  }
}

.app-identifier__section--usagov a {
  color: $disabled-light;
  font-weight: 700;
  display: inline-block;
  margin-top: 0.5rem;
  &:hover {
    color: $base-lightest;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.app-identifier__usagov-description {
  @include media-breakpoint-up(sm) {
    display: inline-flex;
  }
}
