.card-filter-bar {
  background-color: transparent;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    //background-color: darkkhaki;
    flex: 1;
  }
  &__right {
    display: flex;
    div {
      display: flex;
      align-items: center;
    }
    &:last-of-type {
      margin-left: 0;
    }
  }
  &__view-options {
    display: flex;
    margin-left: 1rem;
  }
}
