.fdx-icon-btn {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: $base-darkest;

  text-align: center;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;

  &--focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0;
  }
  &:not([disabled]).fdx-btn--focus,
  &:not([disabled]):focus {
    outline-offset: 0.25rem;
  }
  &:hover {
    color: $base-darkest;
  }
  &:disabled {
    background-color: $disabled;
    color: #fff;
    pointer-events: none;
  }
  //
  svg,
  img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
  &:hover {
    background-color: transparent;
    color: currentColor;
  }
  &:active {
    background-color: transparent;
    color: currentColor;
  }
  &:disabled {
    background-color: $disabled;
    color: #fff;
    pointer-events: none;
  }
  &--sm {
    padding: 0.4375rem;
    svg,
    img {
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      fill: currentColor;
    }
  }

  //primary
  &--primary {
    background-color: $primary;
    color: #fff;
    &:hover {
      background-color: $primary-dark;
      color: #fff;
    }
    &:active {
      background-color: $primary-darker;
      color: #fff;
    }
  }
  //secondary
  &--secondary {
    background-color: $secondary;
    color: #fff;
    &:hover {
      background-color: $secondary-dark;
      color: #fff;
    }
    &:active {
      background-color: $secondary-darker;
      color: #fff;
    }
  }
  //success
  &--success {
    background-color: $success;
    color: #fff;
    &:hover {
      background-color: $success-dark;
      color: #fff;
    }
    &:active {
      background-color: $success-darker;
      color: #fff;
    }
  }

  //info
  &--info {
    background-color: $info;
    color: #fff;
    &:hover {
      background-color: $info-dark;
      color: #fff;
    }
    &:active {
      background-color: $info-darker;
      color: #fff;
    }
  }

  //warning
  &--warning {
    background-color: $warning;
    color: uspto(gray, 900);
    &:hover {
      background-color: $warning-dark;
      color: #fff;
    }
    &:active {
      background-color: $warning-darker;
      color: #fff;
    }
  }

  //outline btns
  //outline-primary
  &--outline-primary {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px blue;
    color: blue;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px orange;
      color: orange;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px green;
      color: green;
    }
  }
  //outline-secondary
  &--outline-secondary {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $secondary;
    color: $secondary;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $secondary-dark;
      color: $secondary-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $secondary-darker;
      color: $secondary-darker;
    }
  }
  //outline-success
  &--outline-success {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $success;
    color: $success;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $success-dark;
      color: $success-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $success-darker;
      color: $success-darker;
    }
  }

  //outline-info
  &--outline-info {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $info;
    color: $info;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $info-dark;
      color: $info-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $info-darker;
      color: $info-darker;
    }
  }
  //outline-warning
  &--outline-warning {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $warning;
    color: $warning;
    &:disabled {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $disabled;
      color: $disabled;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $warning-dark;
      color: $warning-dark;
    }
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $warning-darker;
      color: $warning-darker;
    }
  }
}
