.section-intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  @extend .mb-4;
  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    color: $primary;
    @extend .me-4;
  }
  &__link {
    background-color: transparent;
    text-decoration: none;
    font-weight: 500;
  }
}
