.hm-capabilitites {
  background-color: $primary-lighter;
  padding: 4rem 0;
  &__media {
    display: flex;
    flex-flow: column wrap;
  }
  &__txt {
    display: flex;
    flex-flow: column wrap;
  }
  &__hdr {
    margin: 0 0 1rem 0;
  }
  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    color: $primary-darker;
    letter-spacing: -0.015rem;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
    padding-right: 3rem;
  }
}

.hm-capabilitites-list {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    margin: 0;
    padding: 0;
    border-top: rgba($primary-light, 0.5) 1px solid;
  }
  &__hdr {
    margin: 0 0 0 0;
  }
  &__link {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: $base-darkest;
    background-color: transparent;
    border: 0;
    width: 100%;

    &:hover {
      background-color: #fff;
    }
  }
  &__link-txt {
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
  }
  &__link-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
    svg,
    svg-icon {
      width: 100%;
      height: auto;
      display: block;
      fill: currentColor;
    }
  }
  &__desc {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.4;
    display: block;
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
